*{margin:0;}
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-track {
    background-color: inherit;
}

*::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 1px;
}